<div id='containerHomePage'>

  <img src='/images/beer.png' alt='beer' />

  <div class="containerLinkHome">
    <a  id="firstLinkHome"  href=''>Check the Beers!</a>
    <a id="secondLinkHome" href=''>Check a Random Beer</a>
  </div>

</div>